html, body {
    height: 100%;
    background-color: #e8e8e8;
    display: flex;
    flex-direction: column;
}

.nav {
    position: relative;
    width: 95%;
    height: 10%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 0 2.5%;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow: 5px 5px 15px #bebebe,
                -20px -20px 60px #ffffff;
    transition: 0.5s
}

.nav:hover {
    transform: translateY(7px);
    box-shadow: 10px 10px 30px #bebebe
}

.nav img {
    width: 175px;
    height: auto;
    position: relative;
    left: 2.5%;

}

.nav-links {
    display: flex;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    gap: 40px;
    margin-left: auto;
    font-weight: 600;
    font-style: normal;
    left: 87.5%;
}

.profile, .passport, .map {
    padding: 10px 20px;
    transition: 0.5s;
    cursor: pointer;
}

.nav:has(.profile:hover),
.nav:has(.passport:hover),
.nav:has(.map:hover) {
    background-color: #bebebe;
}

.editor:has(.profile:hover),
.editor:has(.passport:hover),
.editor:has(.map:hover) {
    background-color: #bebebe;
}

.profile:hover, .passport:hover, .map:hover {
    color: #ffffff;
    transform: translateY(-3px);
}


/* .naavis {
    position: relative;
    display: flex;
    align-items: center;
    left: 2.5%;
    font-family: "Momo Trust Display", sans-serif;
    font-weight: 400;
    font-size: 48px;
    font-style: normal;
  }*/

.editor {
    width: 95%;
    height: 80%;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 50px;
    padding: 0 2.5%;
    z-index: 1;
    background: #e0e0e0;
    box-shadow: 10px 10px 30px #bebebe,
                -20px -20px 60px #ffffff;
    transition: 0.5s;
}

.editor:hover {
    transform: translateY(-7px);
    box-shadow: 20px 20px 60px #bebebe
}
  