html, body {
    height: 100%;
    background-color: #e8e8e8;
    display: flex;
    flex-direction: column;
}

.nav {
    position: relative;
    width: 95%;
    height: 10%;
    margin: 0 auto;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow: 10px 10px 30px #bebebe,
                -20px -20px 60px #ffffff;
    transition: 0.5s
}

.nav:hover {
    transform: translateY(7px);
    box-shadow: 20px 20px 60px #bebebe
}

.naavis {
    position: relative;
    display: flex;
    align-items: center;
    left: 2.5%;
    font-family: "Momo Trust Display", sans-serif;
    font-weight: 400;
    font-size: 48px;
    font-style: normal;
  }

.editor {
    width: 95%;
    height: 80%;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 50px;
    z-index: 1;
    background: #e0e0e0;
    box-shadow: 10px 10px 30px #bebebe,
                -20px -20px 60px #ffffff;
    transition: 0.5s;
}

.editor:hover {
    transform: translateY(-7px);
    box-shadow: 20px 20px 60px #bebebe
}
  